---
title: Magic Primer
---


- data.sets["LEA"]["cards"].select {|card| card.name == "Black Lotus"}.each do |card|
  img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=#{card.multiverseid}&type=card"

